* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#left-login-card {
    position: relative;
    background: white;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
}

#right-login-card {
    position: relative;
    background: linear-gradient(-45deg, #234a91, #912077);
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}